* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header img {
  border-radius: 50%;
  border: #333333 solid;
}

header img:hover {
  box-shadow: 0 0 8px 0 #333333;
}

header {
  padding-top: 33vh; /*40px*/
  padding-bottom: 16px;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(to bottom, #010101, #191919);
  color: whitesmoke;
}

main {
  padding-top: 10vh;
  text-align: justify;
  background-color: #191919;
  color: whitesmoke;
}

h2,
ul {
  text-align: center;
}

.div-escolaridade {
  padding-top: 10vh;
}

.div-escolaridade div {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.div-projeto {
  padding-top: 10vh;
}

.div-projeto div {
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

#img-escolas img {
  width: 100px;
}

#img-escolas div:hover {
  background-color: #333333;
}

ul,
li {
  list-style: none;
  padding: 4px 0;
}

div {
  width: 70vw;
  margin: 0 auto;
}

#projetos img {
  width: 200px;
}

#projetos div:hover {
  background-color: #333333;
}

footer {
  background-image: linear-gradient(to bottom, #191919, #010101);
  color: whitesmoke;
}

#div-footer {
  width: 70vw;
  margin: 0 auto;
  padding: 16px 0;
}

label {
  text-align: left;
}

button {
  width: 100%;
  height: 2.5vh;
  margin-top: 8px;
  background-color: #888888;
}

button:hover {
  background-color: white;
}

input {
  margin: 4px 0;
  width: 100%;
  height: 2.5vh;
  background: #555555;
  border-bottom: whitesmoke solid 1px;
  color: whitesmoke;
}

#mensagem {
  height: 12vh;
}

#sociais {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

#sociais p {
  padding: 20px;
}

#formulario {
  width: 50%;
}
