* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    padding-bottom: 12px;
    text-align: center;
  }
  
  div {
    width: 70vw;
    margin: 0 auto;
  }
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  #div-nav {
    font-size: large;
    padding: 12px;
    margin: 0 auto;
  }
  
  #div-nav a {
    margin: 0 10px;
  }
  
  #div-nav a:hover {
    background: #333333;
    color: whitesmoke;
    padding: 4px;
    text-decoration: underline solid whitesmoke;
    text-shadow: 0 0 4px whitesmoke;
  }
  
  header {
    text-align: center;
    height: 5vh;
    background: #010101;
    color: whitesmoke;
  }
  
  main {
    padding-top: 10vh;
    text-align: center;
    background-image: linear-gradient(to bottom, #010101, #191919);
    color: whitesmoke;
    margin: 0 auto;
  }
  
  .div-main li{
      list-style: none;
  }
  
  .div-main p {
    padding: 12px;
  }
  
  .div-main img {
    width: 50vw;
  }
  
  .div-sobre {
    text-align: justify;
    text-indent: 32px;
  }
  
  .div-sobre h1 {
    text-align: left;
    text-indent: 0;
  }
  
  footer {
    height: 15vh;
    background-image: linear-gradient(to bottom, #191919, #010101);
    color: whitesmoke;
  }
  
  #div-footer {
    width: 70vw;
    margin: 0 auto;
    padding-top: 5vh;
  }
  
  label {
    text-align: left;
  }
  
  button {
    width: 100%;
    height: 24px;
    margin-top: 8px;
    background-color: #888888;
  }
  
  button:hover {
    background-color: white;
  }
  
  input {
    margin: 4px 0;
    width: 100%;
    height: 24px;
    background: #555555;
    border-bottom: whitesmoke solid 1px;
    color: whitesmoke;
  }
  
  #mensagem {
    height: 12vh;
  }
  
  #sociais {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
  }
  
  #sociais p {
    padding: 40px;
    font-size: 16px;
  }
  
  #sociais p:hover {
    text-decoration: underline solid #888888;
    text-shadow: 0 0 4px #888888;
  }
  
  #discord:hover {
    font-size: 0;
  }
  
  #discord:hover::after {
    content: attr(data-hover);
    font-size: 16px;
  }
  
  #formulario {
    width: 50%;
  }
  