*{
    margin: 0;
    padding: 0;
}
#main-header{
    background-color: #252525 ;
    padding: 8px;
    color: #C8C8C8;
    font-weight: bold;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    width: 100%;
}

.header-other-pages{
    background-color: #252525;
    padding: 8px;
    color: #C8C8C8;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-bottom:solid 2px #212121;    
    width: 100%;    
}
nav{
    background-color: #292929;
    padding: 4px;
    font-weight: bold;    
    border-bottom:solid 2px #212121;
}
.ref-nav{
    color: #C8C8C8;
    text-decoration:dotted;
}
body{
    position: relative;
    min-height: 100%;
    background-color: #C8C8C8;
    padding: 0;
    margin: 0;
}
label, input{
    margin: 4px;
    padding: 4px;
}
button{
    padding: 4px;
    background-color: #C8C8C8;
    border: solid 1px;
}
table{
    background-color: white;
    border: 1px solid #262626;
    text-align: center;
}
th, td{
    border: 1px solid #262626;
    padding: 4px;
}
div{
    margin: 0px 20px;
}
h2{
    margin: 12px 20px;
}
#div-funcionario{
    margin: 12px 40px;    
}
#rodape{
    bottom: 0;
    padding: 12px 4px;
    background-color: #292929;
    color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
    position: fixed;
}
.texto-home div{
    text-align: center;
    margin-top: 12px;
}
.texto-home p{
    margin: 12px 20px;
    font-size: 18px;
    text-align:justify;
    text-indent: 40px;
}
#rodape-ctrl-estoque{
    bottom:0;
    margin-top: 20px;
    padding: 12px 0px;
    background-color: #292929;
    color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
}
